**/.DS_Store
samples/sample-lite/Pods/Pods.xcodeproj/xcuserdata/Adly.xcuserdatad/xcschemes/xcschememanagement.plist
samples/sample-lite/Sample.xcodeproj/xcuserdata/Adly.xcuserdatad/xcschemes/xcschememanagement.plist
